@use "../../styles/variables.scss" as *;
@import "../../styles/mixins.scss";

.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 510px;
  height: auto;
  color: $text-color;
  &__content {
    margin-top: 20px;
    border-radius: $border-radius;
    border: 1px solid rgb(239, 239, 239);
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
    &--close {
      border: none;
      display: none;
    }
  }
  &__ul {
    padding: 8px;
  }
  &__item {
    @include dropdownItem;
  }
  &__selected {
    background-color: rgb(242, 244, 255);
    color: $selected-item-color;
    @include dropdownItem;
  }
}
